<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069481100741-tkc0319lkueto94oi155bbl0742p2bpv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069481100741-tkc0319lkueto94oi155bbl0742p2bpv</string>
	<key>API_KEY</key>
	<string>AIzaSyCJWDpTkfa2zbnJTAZdHyEGaOOaKC6vQtY</string>
	<key>GCM_SENDER_ID</key>
	<string>1069481100741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SetApp</string>
	<key>PROJECT_ID</key>
	<string>setapp-a2961</string>
	<key>STORAGE_BUCKET</key>
	<string>setapp-a2961.appspot.com</string>
	<key>NSCameraUsageDescription</key>
	<string>Esta app requiere el uso de la cámara</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069481100741:ios:8fd70172dc824da1cef7ac</string>
</dict>
</plist>
